<div id="adminPage">
<h2>Administrators</h2>

  <button href="#addNewAdmin" data-toggle="modal" class="btn btn-default pull-right" id="addNew">Add New Admin User</button>



<div>
<table>
    <!-- <caption>
        <h4>Admin Users</h4>
    </caption> -->
    <thead>
        <th>Email</th>
        <th>Full Permission</th>
        <th></th>
    </thead>
    <tr ng-repeat="users in admin.usersArray">
        <td >
            {{users.email}}
        </td>
        <td>
            {{users.accessLevel}}
        </td>
        <td>
            <button ng-click="admin.captureInfo(users._id, users.email, users.password, users.accessLevel)" href="#editAdmin" data-toggle="modal" class="btn btn-default pull-right">Edit</button>
        </td>
        <td>
            <button  id="deleteButton" ng-click="admin.deleteUser(users._id)" data-toggle="modal" class="btn btn-default pull-right">Delete</button>
        </td>
    </tr>
</table>
</div>




<div id="addNewAdmin" class="modal fade">
    <div id="login" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">New Admin Information</h4>
            </div>
            <div class="modal-body modal-background-color text-center">

                <form class="form-horizontal col-xs-12 col-md-12  well" >
                    <div class="form-group row">
                        <label class="control-label col-xs-offset-1 col-xs-2">Email:</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="text" ng-model="admin.email" autocomplete="on">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-offset-1 col-xs-2">Password:</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="password" ng-model="admin.password">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="control-label col-xs-3">Full Permission: </label>
                      <div class="col-xs-1">
                        <input type="checkbox" ng-model="admin.accessLevel" ng-true-value="'yes'" ng-false-value="'no'" style="margin-top:10px;">
                      </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="admin.addNewUser(admin.email, admin.password, admin.accessLevel)" class="btn btn-default pull-right" data-dismiss="modal">Add</button>

            </div>
        </div>
    </div>
</div>


<div id="editAdmin" class="modal fade">
    <div id="login" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Edit Admin Information</h4>
            </div>
            <div class="modal-body modal-background-color text-center">

                <form class="form-horizontal col-xs-12 col-md-12  well">
                    <div class="form-group row">
                        <label class="control-label col-xs-offset-1 col-xs-2">Email:</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="text" ng-model="admin.capturedEmail" autocomplete="on" placeholder="{{admin.capturedEmail}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-offset-1 col-xs-2">Password:</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="password" ng-model="admin.password" placeholder="****">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="control-label col-xs-3">Full Permission: </label>
                      <div class="col-xs-1">
                        <input type="checkbox" ng-model="admin.capturedAccessLevel" ng-true-value="'yes'" ng-false-value="'no'" style="margin-top:10px;">
                      </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button ng-click="admin.updateUser(admin.capturedEmail, admin.password, admin.capturedAccessLevel)" type="submit" class="btn btn-default pull-right" data-dismiss="modal">Update</button>

            </div>

        </div>
    </div>
</div>
</div>
