<div id="homeBody">
  <h1>We are here to help you</h1>


<div class="row">
  <div class="col-sm-6 col-sm-push-6" id="mapDiv">



  <div class="row" id="searchBars" >

        <h5>Search resources:</h5>
          <div class="col-xs-10">
            <input type="text" class="form-control" placeholder="What can we help you find?" ng-model="home.search">
          </div>
          <div class="col-sm-1 col-xs-2">
            <button type="button" class="btn btn-default pull-right" ng-click="home.searchResources(home.search)" id="search"><span class="glyphicon glyphicon-search"></span></button>
          </div>
      </div>

  <div id="map">
  </div>
  </div>



  <div id="homeList" class="col-sm-6 col-sm-pull-6">
    <div id="scroll" ng-hide="home.filterAddress">


<div ng-if="home.search">
  <button class="btn btn-default" id="navBack" ng-click="home.backCategories()">back</button>
    <div ng-repeat="resource in home.resourcesToSearch | filter: home.search" >
    <!-- <div ng-repeat="resource in home.searchData" > -->
      <h3>{{resource.category.categoryName}}</h3>
      <p>{{resource.company}}</p>
      <p>{{resource.description}}</p>
      <p>{{resource.contact}}</p>
    </div>
</div>

<div ng-if="!home.search">

    <div id="categoryList" ng-show="home.changeCategoryList" >
      <h2>Select a category to view a list of resources</h2>
      <!-- <button id="checkMultiple" type="button" class="btn btn-default" ng-click="checkShow = !checkShow">Select multiple categories</button>
      <button class="btn btn-default" id="checkedSubmitTop" ng-click="home.expandCheckedCategory(home.checked)" ng-hide="!home.checked">See Checked Categories</button> -->

      <div ng-repeat="resource in home.resources | unique:'category'">
          <form>
            <input  ng-show="checkShow" id="checkbox" type="checkbox" ng-model="home.checked[$index]" ng-true-value="'{{resource.category.categoryName}}'"/>

            <label value="resource.category.categoryName" ng-click="home.expandCategory(resource.category.categoryName)"><img ng-src="assets/img/{{resource.category.color}}_Marker.png" />{{resource.category.categoryName}}<span class="glyphicon glyphicon-menu-right"></span></label>
      </form>

      </div>
      <button id="checkMultiple" type="button" class="btn btn-default" ng-click="checkShow = !checkShow">Select multiple categories</button>
      <button class="btn btn-default" id="checkedSubmitTop" ng-show="checkShow" ng-click="home.expandCheckedCategory(home.checked)" ng-hide="!home.checked">See Checked Categories</button>

      <!-- <button class="btn btn-default" id="checkedSubmit" ng-click="home.expandCheckedCategory(home.checked)" ng-hide="!home.checked">See Checked Categories</button> -->
    </div>

    <div id="selectedCategory" ng-show="home.changeSelectedCategory" >
<button  class="btn btn-default"  id="navBack" ng-click="home.backCategories()"><span class="glyphicon glyphicon-menu-left"></span>All categories</button>
        <h3><img ng-src="assets/img/{{home.selectedCategoryArray[0].category.color}}_Marker.png" />{{home.selectedCategoryArray[0].category.categoryName}}</h3>

      <div id="resourceList" type="button" href="#" ng-click="home.openInfoWindow($event, resource.marker, resource)" ng-repeat="resource in home.selectedCategoryArray | orderBy : 'company'">
      <div ng-if="resource.marker.boundsStatus" id="goNext"><p class="glyphicon glyphicon-menu-right"></p></div><div ng-if="resource.marker.boundsStatus" class="resourceInfo">
          <h5 ng-if="resource.marker.boundsStatus">{{resource.company}}</h5>
          <span star-rating rating-value="resource.averageRating" max="5" ></span><span>
                    <a ng-click="home.openInfoWindow($event, resource.marker, resource)"> ({{resource.numberOfReviews}} Reviews)</a></span>
          <p ng-if="resource.marker.boundsStatus">{{resource.description}}</p>
          <p ng-if="resource.marker.boundsStatus">{{resource.contact}}</p>
      </div>

      <!-- <div id="class" ng-repeat="resource in home.selectedCategoryArray | orderBy : 'company'">
        <a ng-if="resource.marker.boundsStatus" type="button" href="#" ng-click="home.openInfoWindow($event, resource.marker, resource)"><h5>{{resource.company}}</h5></a>
        <span star-rating rating-value="resource.averageRating" max="5" ></span>
        <a ng-click="home.openInfoWindow($event, resource.marker, resource)"> ({{resource.numberOfReviews}} Reviews)</a>
        <p ng-if="resource.marker.boundsStatus">{{resource.description}}</p>
        <p ng-if="resource.marker.boundsStatus">{{resource.contact}}</p>

      </div> -->
      </div>
    </div>

    <div id="checkedCategory" ng-show="home.changeCheckedCategory">
        <button class="btn btn-default"  id="navBack" ng-click="home.backCategories()"><span class="glyphicon glyphicon-menu-left"></span>All categories</button>
      <div ng-repeat="category in home.checkedCategory">
        <h3><img ng-src="assets/img/{{category.resources[0].category.color}}_Marker.png" />{{category.name}}</h3>

        <div id="resourceList" href="#" ng-click="home.openInfoWindow($event, resource.marker, resource)" ng-repeat="resource in category.resources">
          <div ng-if="resource.marker.boundsStatus" id="goNext"><p class="glyphicon glyphicon-menu-right"></p></div><div ng-if="resource.marker.boundsStatus" class="resourceInfo">
            <h5 ng-if="resource.marker.boundsStatus">{{resource.company}}</h5>
                <span star-rating rating-value="resource.averageRating" max="5"></span><span><a ng-click="home.openInfoWindow($event, resource.marker, resource)">({{resource.numberOfReviews}} Reviews)</a></span>
            <p ng-if="resource.marker.boundsStatus" >{{resource.description}}</p>
            <p ng-if="resource.marker.boundsStatus">{{resource.contact}}</p>
          </div>
      </div>
    </div>
</div>
</div>
</div>
    <div id="singleResource" ng-show="home.changeSingleResource">
        <button ng-show="home.changeBackButton" class="btn btn-default"  id="navBack" ng-click="home.backToSelectedcategories(home.selectedResource.category.categoryName)"><span class="glyphicon glyphicon-menu-left"></span>Selected category</button>
        <button ng-show="home.changeBackButton2" class="btn btn-default"  id="navBack" ng-click="home.backToSelectedcategories(home.checked)"><span class="glyphicon glyphicon-menu-left"></span>Selected categories</button>
      <h3>{{home.selectedResource.company}}</h3>
        <div id="mainResourceInfo">
          <p>{{home.selectedResource.category.categoryName}} - {{home.selectedResource.description}}</p>
          <p ng-if="home.selectedResource.contact">{{home.selectedResource.contact}}</p>
          <p ng-if="home.selectedResource.street">{{home.selectedResource.street}}</p>
          <p ng-if="home.selectedResource.city">{{home.selectedResource.city}}, {{home.selectedResource.state}} {{home.selectedResource.zip}}</p>
        </div>
        <div id="website">
          <a href="{{home.selectedResource.website}}">Go to website: {{home.selectedResource.website}}<span class="glyphicon glyphicon-menu-right"></span></a>
        </div>
        <div>
        <button id="review" href="#addReview" ng-click="home.getId(home.selectedResource._id)" type="button" data-toggle="modal"><span class="glyphicon glyphicon-star-empty"></span> Give a review</button>
        </div>

        <p>Average Rating: <span star-rating rating-value="home.selectedResource.averageRating" max="5" ></span> ({{home.selectedResource.numberOfReviews}} Reviews) </p>
        <div id="reviewScroll">
        <div ng-repeat="review in home.selectedReviewArrays" style="padding-left: 10px;">
            <span star-rating rating-value="review.rating" max="5" ></span>
            <p>{{review.comments}}</p>
        </div>
        </div>
    </div>



    <div class="row" id="searchBars" ng-hide="home.filterAddress">


        <div class="row" id="addressSearch">
      <h5>Change your location:</h5>
            <div class="col-xs-6">
              <input type="text" id="address-input" placeholder="Where would you like to go?" class="form-control">
            </div>
        <div class="col-xs-3" id="radiusSelect">


          <select class="form-control" name="miles" ng-model="home.distance">
            <option value="" disabled selected>Radius</option>
            <option value="11">10</option>
            <option value="10">20</option>
            <option value="9">50</option>
            <option value="8">100</option>
          </select>

        </div>

        <div class="col-xs-3">
          <button ng-click="home.searchAddress()" id="search" class="btn btn-default pull-right">Search</button>

      </div>
      </div>


    </div>


  </div>

  </div>

</div>
  <div id="addReview" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title text-center">Review Resource</h4>
              </div>
              <div class="modal-body modal-background-color text-center">
                  <form class="form-horizontal">
                      <div class="form-group">
                        <div class="row">
                          <label class="control-label col-xs-2">Rating</label>
                          <div class="col-xs-8 text-align:left;">
                            <ul id="el" style="list-style-type: none; padding-left: 0;"></ul>
                          </div>
                        </div>
                        <div class="row">
                          <label class="control-label col-xs-2">Comments</label>
                          <div class="col-xs-8">
                              <textarea ng-model="home.reviewNotes" type="text" class="form-control" ></textarea>
                          </div>
                      </div>
                    </div>
              </form>
              </div>
              <div class="modal-footer">
                  <button ng-click="home.createReview(home.reviewNotes)" type="button" class="btn btn-default" data-dismiss="modal" >Submit Review</button>
              </div>

          </div>
      </div>
  </div>
