<!-- <p>
  <a href="/login">Login</a>
</p> -->
<!-- <div class="row">
  <div id="input" class="col-sm-10">
    <input type="text" class="form-control" placeholder="What are you looking for?" ng-model="home.search">
  </div>
  <div id="button" class="col-sm-2">
  </div>
</div>
<br /> -->
<div id="homeBody">
<div class="row">

  <div id="homeList" class="col-sm-5">

    <div class="row" id="addressSearch">
        <div class="col-xs-6">
          <input type="text" id="address-input" placeholder="get an address" class="form-control">

        </div>

        <div class="col-xs-3">
          <select name="miles" ng-model="home.distance">
            <option value="11">10</option>
            <option value="10">20</option>
            <option value="9">50</option>
            <option value="8">100</option>
          </select>

        </div>
        <div class="col-xs-3">
          <button ng-click="home.searchAddress()" id="search" class="btn btn-default">Search</button>

        </div>
      </div>


    <div class="row">

        <div class="col-xs-9">
          <input type="text" class="form-control" placeholder="What are you looking for?" ng-model="home.search">
        </div>
        <div class="col-xs-3">
          <button type="submit" class="btn btn-default" id="search" ng-click="home.searchResources(home.search)">Search</button>
        </div>

    </div>

<div ng-if="home.search">
  <button class="btn btn-default" id="navBack" ng-click="home.backCategories()">back</button>
    <div ng-repeat="resource in home.resources | filter: home.search">
      <h3>{{resource.category.categoryName}}</h3>
      <p>{{resource.company}}</p>
      <p>{{resource.description}}</p>
      <p>{{resource.contact}}</p>
    </div>
</div>

<div ng-if="!home.search">

    <div id="categoryList" ng-hide="home.change.categoryList">
      <div ng-repeat="resource in home.resources | unique:'category'">
        <div>
          <form>
            <input type="checkbox" ng-model="home.checked[$index]" ng-true-value="'{{resource.category.categoryName}}'"/>

            <label value="resource.category.categoryName" ng-click="home.expandCategory(resource.category.categoryName)">{{resource.category.categoryName}}<span class="glyphicon glyphicon-menu-right"></span></label>

          </form>
        </div>
      </div>
      <button class="btn btn-default" id="checkedSubmit" ng-click="home.expandCheckedCategory(home.checked)" ng-hide="!home.checked">See Checked Categories</button>
    </div>

    <div id="selectedCategory" ng-show="home.change.selectedCategory">
        <button class="btn btn-default"  id="navBack" ng-click="home.backCategories()"><span class="glyphicon glyphicon-menu-left"></span>All categories</button>
        <h3>{{home.selectedCategoryArray[0].category.categoryName}}</h3>

      <div id="resourceList" type="button" href="#" ng-click="home.openInfoWindow($event, resource.marker, resource)" ng-repeat="resource in home.selectedCategoryArray | orderBy : 'company'">
      <div id="goNext"><p class="glyphicon glyphicon-menu-right"></p></div><div class="resourceInfo">
          <h5 ng-if="resource.marker.boundsStatus">{{resource.company}}</h5>
          <span star-rating rating-value="resource.averageRating" max="5" ></span>
          <a ng-click="home.openInfoWindow($event, resource.marker, resource)"> ({{resource.numberOfReviews}} Reviews)</a>
          <p ng-if="resource.marker.boundsStatus">{{resource.description}}</p>
          <p ng-if="resource.marker.boundsStatus">{{resource.contact}}</p>
      </div>

      <!-- <div id="class" ng-repeat="resource in home.selectedCategoryArray | orderBy : 'company'">
        <a ng-if="resource.marker.boundsStatus" type="button" href="#" ng-click="home.openInfoWindow($event, resource.marker, resource)"><h5>{{resource.company}}</h5></a>
        <span star-rating rating-value="resource.averageRating" max="5" ></span>
        <a ng-click="home.openInfoWindow($event, resource.marker, resource)"> ({{resource.numberOfReviews}} Reviews)</a>
        <p ng-if="resource.marker.boundsStatus">{{resource.description}}</p>
        <p ng-if="resource.marker.boundsStatus">{{resource.contact}}</p>

      </div> -->
      </div>
    </div>

    <div id="checkedCategory" ng-show="home.change.checkedCategory">
        <button class="btn btn-default"  id="navBack" ng-click="home.backCategories()"><span class="glyphicon glyphicon-menu-left"></span>All categories</button>
      <div ng-repeat="category in home.checkedCategory">
        <h3>{{category.name}}</h3>

        <div id="resourceList" href="#" ng-click="home.openInfoWindow($event, resource.marker, resource)" ng-repeat="resource in category.resources">
          <div id="goNext"><p class="glyphicon glyphicon-menu-right"></p></div><div class="resourceInfo">
            <h5 ng-if="resource.marker.boundsStatus">{{resource.company}}</h5>
            <span star-rating rating-value="resource.averageRating" max="5"></span>
            <a ng-click="home.openInfoWindow($event, resource.marker, resource)">({{resource.numberOfReviews}} Reviews)</a>
            <p ng-if="resource.marker.boundsStatus" >{{resource.description}}</p>
            <p ng-if="resource.marker.boundsStatus">{{resource.contact}}</p>
          </div>

        <!-- <div ng-repeat="resource in category.resources">
          <a ng-if="resource.marker.boundsStatus" href="#" ng-click="home.openInfoWindow($event, resource.marker, resource)"><h5>{{resource.company}}</h5></a>
          <span star-rating rating-value="resource.averageRating" max="5"></span>
          <a ng-click="home.openInfoWindow($event, resource.marker, resource)">({{resource.numberOfReviews}} Reviews)</a>
          <p ng-if="resource.marker.boundsStatus" >{{resource.description}}</p>
          <p ng-if="resource.marker.boundsStatus">{{resource.contact}}</p>

          </div> -->

      </div>
    </div>
</div>

    <div id="singleResource" ng-show="home.change.singleResource">
      <h3>{{home.selectedResource.company}}</h3>
        <div id="mainResourceInfo">
          <p>{{home.selectedResource.category.categoryName}} - {{home.selectedResource.description}}</p>
          <p ng-if="home.selectedResource.contact">Contact number: {{home.selectedResource.contact}}</p>
          <p ng-if="home.selectedResource.street">Address: {{home.selectedResource.street}}</p>
          <p ng-if="home.selectedResource.city">{{home.selectedResource.city}}, {{home.selectedResource.state}} {{home.selectedResource.zip}}</p>
        </div>
        <div id="website">
          <a href="{{home.selectedResource.website}}">Website<span class="glyphicon glyphicon-menu-right"></span></a>
        </div>
        <div>
        <button id="review" href="#addReview" ng-click="home.getId(home.selectedResource._id)" type="button" data-toggle="modal"><span class="glyphicon glyphicon-star-empty"></span> Give a review</button>
        </div>

        <p>Reviews ({{home.selectedResource.reviews.number}})</p>
        <div ng-repeat="review in home.selectedResource.reviews">
            <p>{{review.comments}}</p>
            <p id="starReview">{{review.rating}} stars</p>
          <p>{{review.stars}}</p>



  <div class="average">
    <p>Average Rating: <span star-rating rating-value="home.selectedResource.averageRating" max="5" ></span> {{ home.selectedResource.averageRating }} stars</p>
  </div>
        <div ng-repeat="review in home.selectedReviewArrays">
            <span star-rating rating-value="review.rating" max="5" ></span>
            <p>{{review.comments}}</p>

        </div>
    </div>

</div>
  </div>
  </div>

  <div class="col-sm-7">
    <div id="map" style="height:71.5vh;">
    </div>
  </div>

  <div id="addReview" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title text-center">Review Resource</h4>
              </div>
              <div class="modal-body modal-background-color">
                  <form class="form-horizontal">
                      <div class="form-group">
                        <div class="row">
                          <label class="control-label col-xs-2">Rating</label>
                          <div class="col-xs-8 text-align:left;">
                            <ul id="el" style="list-style-type: none;"></ul>
                          </div>
                        </div>
                        <div class="row">
                          <label class="control-label col-xs-2">Comments</label>
                          <div class="col-xs-8">
                              <textarea ng-model="home.reviewNotes" type="text" class="form-control" ></textarea>
                          </div>
                      </div>
                    </div>
              </form>
              </div>
              <div class="modal-footer">
                  <button ng-click="home.createReview(home.reviewNotes)" type="button" class="btn btn-primary" data-dismiss="modal" >Submit Review</button>
              </div>

          </div>
      </div>
  </div>


</div>
</div>
