<h2>Resources Page</h2>
<button href="#addNewResource" data-toggle="modal">Add New Resource</button>

<div id="addNewResource" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">New Resource Information</h4>
            </div>
            <div class="modal-body modal-background-color text-center">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">Category</label>
                        <div class="col-xs-8">
                            <select class="form-control">
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                        <option>Category 4</option>
                    </select>

                                <button href="#addNewCategory" data-toggle="modal" class="btn btn-default pull-left"><span class="glyphicon glyphicon-plus"></span></button>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Company Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Company Description</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Contacts</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">link</label>
                        <div class="col-xs-8">
                            <input type="url" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Address</label>
                        <div class="col-xs-8">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button ng-click="" type="button" class="btn btn-primary" data-dismiss="modal">ADD</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="addNewCategory" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Category Builder</h4>
            </div>
            <div class="modal-body modal-background-color">
                <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-xs-2">Category Name</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2">Pick a color</label>
                    <div class="col-xs-8">
                        <input type="color" value="#ff0000" class="form-control">
                    </div>
                </div>
            </div>
                </form>
            <div class="modal-footer">
                <button ng-click="" type="button" class="btn btn-primary" data-dismiss="modal">ADD</button>
            </div>

        </div>
    </div>
</div>
