<h2>Resources Page</h2>
<div class="row col-xs-6">
    <button href="#addNewResource" data-toggle="modal" class="btn btn-primary">Add New Resource</button>
    <button href="#addNewCategory" data-toggle="modal" class="btn btn-primary">Add New Category</button>
</div>
<div class="row col-xs-6">
    <div class="form-group">
        <input type="search" class="form-control" placeholder="What are you looking for?" ng-model="resources.search">
        <span class="col-xs-2">
        <button type="submit" class="btn btn-default" ng-click="">Search</button>
    </span>
    </div>
</div>
<table>
    <caption>
        <h4>Resource List</h4>
    </caption>
    <thead>
        <th>Company Name</th>
        <th>Category</th>
        <th></th>
    </thead>
    <tr ng-repeat = "resource in resources.resources">
        <td>
          {{resource.company}}
        </td>
        <td>
            {{resource.category.categoryName}}
        </td>
        <td>
            <button ng-click="resources.captureInfo(resource.company,
            resource.description,
            resource.contact,
            resource.website,
            resource.street,
            resource.city,
            resource.state,
            resource.zip,
            resource.category,resource._id)" href="#editResource" data-toggle="modal" class="btn btn-primary">Edit</button>
        </td>
        <td>
            <button ng-click="resources.deleteResource(resource._id)" class="btn btn-primary">Delete</button>
        </td>
    </tr>
</table>


<div id="addNewResource" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">New Resource Information</h4>
            </div>
            <div class="modal-body modal-background-color text-center" >
                <form class="form-horizontal" >
                    <div class="form-group">
                        <label class="control-label col-xs-2">Category</label>
                        <div class="col-xs-8">

                            <select class="form-control" ng-model="resources.category"  ng-options ="category.categoryName for category in resources.categories track by category._id"></select>


                            <button href="#addNewCategory" data-toggle="modal" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Company Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="resources.company" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Company Description</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="resources.description"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Contacts</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="resources.contact"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Website</label>
                        <div class="col-xs-8">
                            <input type="url" class="form-control" ng-model="resources.website"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Street Address</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="resources.street"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">City</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="resources.city"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">State</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="resources.state"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Zip Code</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="resources.zip"/>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resources.createresource()">ADD</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="addNewCategory" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Category Builder</h4>
            </div>
            <div class="modal-body modal-background-color">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-xs-2">Category Name</label>
                        <div class="col-xs-8">
                            <input ng-model="resources.categoryName"type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-2">Pick a color</label>
                        <div class="col-xs-8">
                            <input ng-model="resources.color" type="color" value="#ff0000" class="form-control">
                        </div>
                    </div>

            </form>
            </div>
            <div class="modal-footer">
                <button ng-click="resources.createCategory()" type="button" class="btn btn-primary" data-dismiss="modal" >ADD</button>
            </div>

        </div>
    </div>
</div>

<div id="editResource" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Edit Resource Information</h4>
            </div>
            <div class="modal-body modal-background-color text-center">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">Category</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="resources.capturedCategory"  ng-options ="category.categoryName for category in resources.categories track by category._id"></select>

                            <button href="#addNewCategory" data-toggle="modal" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Company Name</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="resources.capturedCompany" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Company Description</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="resources.capturedDescription" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Contacts</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="resources.capturedContact" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">link</label>
                        <div class="col-xs-8">
                            <input type="url" ng-model="resources.capturedWebsite" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Street Address</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="resources.capturedStreet"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">City</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="resources.capturedCity"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">State</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="resources.capturedState"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Zip Code</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="resources.capturedZip"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Reviews</label>
                        <div class="col-xs-8">
                            Newest Review Here
                            <button href="#editReviews" data-toggle="modal" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button ng-click="resources.updateResource(resources.capturedId)" type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="editReviews" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Edit Reviews</h4>
            </div>
            <div class="modal-body modal-background-color">
                <table>

                    <thead>
                        <th>Review Number</th>
                        <th>Review</th>
                        <th></th>
                    </thead>
                    <tr >
                        <td>
                            Review number here
                        </td>
                        <td>
                            Reviews here
                        </td>
                        <td>
                            <button class="btn btn-primary">Edit Review</button>
                        </td>
                    </tr>
                </table>
            <div class="modal-footer">
                <button ng-click="" type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
            </div>

        </div>
    </div>
</div>
